:root {
    --main-color: rgb(21, 194, 107);
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

* {
    box-sizing: border-box;
}

section {
    background-color: rgb(255, 0, 10);         -------------
}

h1 {
    letter-spacing: 3px;
    font-weight: 600;
}

h1::first-letter {
    color: var(--main-color);
    font-weight: 750;
}

h2 {
    letter-spacing: 3px;
}

hr {
    width: 80%;
    height: 2px;
    background-color: #030303;
}

.body {
    min-height: 1555px;
    background-color: #2e2cf4;
    color: #000000;
    font-family: "Comfortaa", sans-serif;
}


/*.........................................................Nav bar....................................................*/
.navbar {
    opacity: 0.9;
    min-height: 80px;
}

.dropdown-menu {
    border:none;
    background-color:#0060c8!important;
    border-radius: 0px;
    opacity: 0.9;
}

li.active {
    color: #757575;
}

li a:hover:not(.active) {
    color: #575757;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        background-color: yellow;        ------------------
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
     .nav-item {
        padding:.5rem .5rem;
        margin:.25rem;
    }
}


/*......................................................About.........................................................*/
.about {
    background-color: rgb(201, 203, 206);
    padding-top: 180px;
}

.about_bg {
    background-image: url("img/Uścisk dłoni.jpg");
    padding-top: 50px;
}

.reason_box_title {
    font-size: 38px;
    line-height: 1em;
    font-weight: 700;
}

.reason_box_subtitle {
    font-size: 20px;
}

/*......................................................Services.......................................................*/

.services{
    background-color: #717171;
}



/*..............................................,,.......Footer.......................................................*/

#copyrights {
    clear: both;
    position: fixed;
 /*   position: relative; */
    bottom: 0;
    width: 100%;
    height: 42px;
    background-color: #323232;
    font-size: 14px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0px 5px 0px;
    letter-spacing: 3px;
    border-top: 2px solid #33402a;
    text-shadow:
            2px 2px 0 #33402a,
            -2px 2px 0 #33402a,
            -2px -2px 0 #33402a,
            2px -2px 0 #33402a;
}



/* adds some margin below the link sets  *
.navbar .dropdown-menu div[class*="col"] {
margin-bottom:1rem;
;
}

.navbar .dropdown-menu {
border:none;
background-color:#0060c8!important;
}

/* breakpoint and up - mega dropdown styles *
@media screen and (min-width: 768px) {

/* remove the padding from the navbar so the dropdown hover state is not broken *
.navbar {
    padding-top:0px;
    padding-bottom:0px;
    min-height: 56px;
    background-color: yellow;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers *
.navbar .nav-item {
    padding:.5rem .5rem;
    margin:0.25rem;
}

/* makes the dropdown full width  *
.navbar .dropdown {
    position:static;
}

.navbar .dropdown-menu {
    width:100%;
    left:0;
    right:0;
    /*  height of nav-item  *
    top: 54px;


    display:block;
    visibility: hidden;

}




/* shows the dropdown menu on hover *
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {

    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 2s linear;
}

}
*/